* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #F6BE00;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}

.hub {
    background: white;
    width: fit-content;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.hub_inferior {
    background: white;
}

li {
    list-style: none; 
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}


